---
export interface Props {}
---

<form>
	<label for="theme-switcher" class="visually-hidden">Theme</label>
	<select id="theme-switcher" name="theme">
		<option value="">Auto</option>
		<option value="light">Light</option>
		<option value="dark">Dark</option>
	</select>
</form>

<script>
	const changeThemeDataAttribute = (theme: string) => {
		if (theme === "light" || theme === "dark") {
			document.documentElement.dataset.theme = theme;
		} else {
			delete document.documentElement.dataset.theme;
		}
	};
	document
		.querySelector("#theme-switcher")
		?.addEventListener("change", (e: Event) => {
			if (!(e.target instanceof HTMLSelectElement)) return;

			const theme: string = (e.target as HTMLSelectElement).value || "";
			changeThemeDataAttribute(theme);
		});
</script>
